<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Deen.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.reyber.Deen</string>
		<key>CFBundleShortVersionString</key>
		<string>1.2.0</string>
		<key>CFBundleVersion</key>
		<string>19</string>
		<key>SigningIdentity</key>
		<string>Apple Development: reyyanbereka2010@gmail.com (HWF8Y86594)</string>
		<key>Team</key>
		<string>D74384M94C</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2026-10-03T23:37:35Z</date>
	<key>Name</key>
	<string>Deen+</string>
	<key>SchemeName</key>
	<string>Deen+</string>
</dict>
</plist>
